div.oc-fm--location-bar{
    display: none;
}
div.hideUpload button.oc-fm--toolbar__item[title="Upload"],
div.hideUpload button.oc-fm--toolbar__item[title="Create folder"],
div.hideUpload button.oc-fm--toolbar__item[title="Create Drive Link"],
div.hideUpload button.oc-fm--toolbar__item[title="Remove"],
div.hideUpload button.oc-fm--toolbar__item[title="Rename"],
div.hideUpload nav.oc-fm--context-menu__content div.react-contextmenu-item:first-child,
div.hideUpload nav.oc-fm--context-menu__content div.react-contextmenu-item:nth-child(2),
div.hideUpload nav.oc-fm--context-menu__content div.react-contextmenu-item:nth-child(3){
    display: none;
}
div.hideDownload button.oc-fm--toolbar__item[title="Download"],
div.hideDownload nav.oc-fm--context-menu__content div.react-contextmenu-item:nth-child(2){
    display: none;
}