.addd>img {
    width:5%;
    display: block;
    border-radius: 10%;
     float:right;
    float:bottom; }
    
    .addd>button{
        float:right;
    }
    .text{
        height:700%;
        width:90%;
    
    }