.back{
  background: lightgrey;
}
img {
    width:55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60% }

/*input[type=text], select, textarea {
        
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }i*/
label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        float: left;
      }

input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .container {
        border-radius: 5px;
        padding: 20px;
       height: 90%;
      }
      
button[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
.log{
    display: block;
    text-align: center;
      }
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background:grey;

    
}
.login-card{
   padding:10px;
    text-align:center;
    float: center;
    background: fill;
    

}
.jumbo
{
    height: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .log {
    border: 3px solid #f1f1f1;
    padding: 10px;
    float: center;
    width: 40%;
    }

  
  .icon{
    position:fixed;
    top:45%;
    left:45%;
    width:50%;
  }
  .ic{
    display: inline-block;

  }